<app-toolbar></app-toolbar>
<app-sidebar></app-sidebar>
<app-page-wrapper>
  <app-home></app-home>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos saepe ipsa qui! Provident optio obcaecati hic quam nulla corporis exercitationem reprehenderit, aliquam ea libero nostrum eum quo pariatur. Ut dicta corporis laborum rerum dignissimos consequuntur consequatur, eaque sunt non amet eveniet, repudiandae minus reprehenderit consectetur, sapiente exercitationem illum debitis sit.
</app-page-wrapper>
